<%include ../layout/header %>
<div class="container" style="height:412px;">
  <h2>Đăng Nhập</h2>
  <%if(messages){%>
    <%-messages()%>
  <%}%>
  <form class="" action="/user/login" method="post" style="width:650px;">
    <div class="form-group">
	    <label for="formGroupExampleInput" style="margin-left:65px;">Email / Số Điện Thoại</label>
	    <input type="text" name="username" class="form-control"  placeholder="email or sđt">
		</div>
    <div class="form-group">
	    <label for="formGroupExampleInput" style="margin-left:65px;">Mật Khẩu</label>
	    <input type="password" name="password" class="form-control"  placeholder="Mật Khẩu">
		</div>
    <button class="btn btn-primary" type="submit">ADD</button>
  </form>
</div>
<%include ../layout/footer %>
