<%include ../layout/header %>
  <div class="thongtin_giaohang">
    <div class="thong__tin1">
      <h2>Thông Tin Giao Hàng</h2>
      <form action="">
        <input type="text" placeholder="Họ Và Tên ...">
        <input type="text" placeholder="Phone Number">
        <input type="text" placeholder="mã Số thuế">
        <input type="text" placeholder="địa chỉ nhà ">
        <input type="text" placeholder="Tỉnh ...">
        <input type="text" placeholder="Quận / Huyện">
        <button>Save</button>
      </form>
    </div>
    <div class="ben-phai__b">
      <h2>Tóm tắt theo thứ tự</h2>
      <p>Tổng Số Mục : 2</p>
      <p>Phi Vận Chuyển : $1</p>
      <p>Tổng Tiền :$19</p>
      <div class="confirm">Xác Nhận</div>
    </div>
  </div>

<%include ../layout/footer %>
